@tailwind base;
@tailwind components;
@tailwind utilities;


.login_form{
    width: 440px;
    margin: 70px auto;  
}

.register_form{
     width: 550px;
    margin: 10px auto;
    background-color: white;
}


input.input-error, select.input-error{
    border-color: red;
}


.card{
  min-height: 400px;
  /* overflow-y: scroll; */
}


.list{
   overflow: auto;
   height: 280px;
} 

.load {
  margin-left: 20px;
}


.sidebar_links a.active .link_item{
  background-color: #b5eee071;
  border-right: 6px solid #287e68;
  /* background-color: rgb(214, 214, 214); */
}

.sidebar_links a.active .toggle-load{
  cursor: pointer;
  transition: transform .1s
}

.sidebar_links a.active .toggle-load{
  transform: rotate(180deg)
}


/* Subgroup modal */

.overlay{
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.8);
  z-index: 9;
}


.modal{
  padding: 0.5rem;
  background: white;
  border-radius: 20px;
  z-index: 10;

}

dialog::backdrop{
  background-color: rgba(0,0,0,0.8) ;
}

.my-modal{
  position: relative;
  min-width: 450px;
  min-height: 450px;
  overflow: hidden;

}

.my-modal .close{
  position: absolute;
  /* display: inline-block; */
  top: 0;
  left: 100;
  float: right;
}

.confirm {
   min-width: 50px;
  min-height: 200px;
  overflow: hidden;
}