@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background-color: #f7f7f9
}

.login_form{
  /* Used inset to position the form in the center */
    width: 440px;
    height: 590px;
    /* margin: 70px auto;   */
    position: absolute;
    inset:0;
    margin: auto;
}

.register_form{
     width: 550px;
      height: 760px;
    position: absolute;
    inset: 0;
    margin: auto;
    background-color: white;
}


input.input-error, select.input-error{
    border-color: red;
}


.card{
  min-height: 400px;
  /* overflow-y: scroll; */
}


.list{
   overflow: auto;
   height: 280px;
} 

.course_list{
  overflow: auto;
  height: 300px;
}

.load {
  margin-left: 20px;
}


.sidebar_links a.active .link_item{
  background-color: #b5eee071;
  border-right: 6px solid #287e68;
  /* background-color: rgb(214, 214, 214); */
}

.sidebar_links a.active .toggle-load{
  cursor: pointer;
  transition: transform .1s
}

.sidebar_links a.active .toggle-load{
  transform: rotate(180deg)
}


/* Subgroup modal */

.overlay{
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.8);
  z-index: 9;
}


.modal{
  padding: 0.5rem;
  background: white;
  border-radius: 20px;
  z-index: 10;

}

dialog::backdrop{
  background-color: rgba(0,0,0,0.7) ;
}

.my-modal{
  min-width: 450px;
  min-height: 450px;
  overflow: hidden;
  /* padding: 0; */
}

.collegeDialog{
  min-width: 450px;
  min-height: 300px;
}

.confirm {
  min-width: 50px;
  min-height: 200px;
  overflow: hidden;
}

.dashboard{
  padding: 20px
}
.dashboard .dashboard_card{
  /* display: flex; */
  padding: 10px;
  background-color: white;
}

.dashboard .top-chart{
  width: 100%;
  height: 250px;
}
.department{
  background-color: white;
  height: 500px;
}


.department .summary .list{
  height: 170px;
  overflow-y: auto;
  overflow-x: hidden;
 
}
 .department .below-chart{
    height: 300px;
  }

  .department_details{
    width: 800px;
    /* background-color: aliceblue; */
  }

  .department_dialog{
    min-width: 450px;
  min-height: 350px;
  overflow: hidden;
  }
   .lecturer_dialog{
    /* min-width: 450px; */
    min-width: 850px;

    min-height: 350px;
  overflow: hidden;
  }
  .lecturer_dialog::backdrop{
    background-color: rgba(0,0,0,0.3);
  }


  .unassigned_dialog{
    width: 850px;
    min-height: 500px;
  }

  .unassigned_dialog::backdrop{
    background-color: rgba(0,0,0,0.3);
  }



  /* Very important for cutting short a very lengthy paragraph */
  .myCutParagraph{
     display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
    text-overflow: ellipsis;
    /* overflow: hidden; */
  }