@tailwind base;
@tailwind components;
@tailwind utilities;


.login_form{
    width: 440px;
    /* border: 3px solid green; */
    margin: 30px auto;
    /* padding: 2rem; */
}

.register_form{
     width: 500px;
    /* border: 3px solid green; */
    margin: 30px auto;
    /* padding: 2rem; */
    background-color: white;
}


input.input-error, select.input-error{
    border-color: red;
}


.card{
  height: 400px;
  /* overflow-y: scroll; */
}


.list{
   overflow-y: scroll;
   height: 280px;
} 

.load {
  margin-left: 20px;
}
